* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Ubuntu", sans-serif;
  }
  
  /* hacer un mini tailwind: es decir crear clases genericas y reutilizarlas */
  .flex {
    display: flex;
  }
  
  .radius-md {
    border-radius: 20px;
  }
  
  .p-20 {
    padding: 20px;
  }
  
  .p-25 {
    padding: 25px;
  }
  
  .container {
    background-color: hsl(231, 11%, 63%);
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .container__box {
    background-color: #fff;
    height: 70vh;
    width: 50%;
    gap: 60px;
  }
  
  .container__box > div:first-child {
    width: 25%;
    background: url("../assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .step_container{
    
    gap:15px;
    align-items: center;
    margin-bottom: 10px;
  }

  .setp_circle{
    border:solid white ;
    color: #fff;
    padding: 9px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    cursor: pointer;
  }

  .setp_circle:hover{
    color: #000;
    background-color: hsl(206, 94%, 87%);
  }

  .uppercase{
    text-transform: uppercase;
  }

  .step_title{
    color: white;
    font-size: 13px;
  }

  .step_description{
    color: white;
    font-weight: bold;
    margin-top: 5px;
    letter-spacing: 1px;
  }

  .title_info{
    font-size: 36px;
  }

  .description_info{
    margin-top: 10px;
    color: hsl(217, 24%, 87%);
  }

  .container_input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
  
  .container_input > input{
    font-family: "Ubuntu",sans-serif;
    padding: 12.5px;
    font-size: 16px;
    border: solid 1px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
  }

  .container_input > span{
    color: hsl(213, 96%, 18%);
  }

  .container_input > input:hover{
    border: solid 1px hsl(243, 100%, 62%);
  }

  .container_button{
    text-align: right;
    margin-top: 40px;
    
  }

  .btn_next{
    font-family: "Ubuntu",sans-serif;
    border-color: none;
    border: none;
    background-color: hsl(213, 96%, 18%);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
  }

  @media only screen and (max-width: 600px){
    
    .p-20{
      padding: 0;
    }
    .p-25 {
      padding: 0;
    }
  
    .radius-md {
      border-radius: 0;
    }
    .container{
      height: auto;
      
    }

    .container__box{
      flex-direction: column;
      width: 100%;
      background-size:cover;
      background-repeat: no-repeat;
      background-color: rgb(209, 206, 206);
      height: 100vh;
    }

    .container__box > div:first-child {
      width: 100%;
      background: url("../assets/images/bg-sidebar-mobile.svg");
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 150px;
    }

    .steps_container{
      display: flex;
    align-items: center;
    justify-content: center;
    }
    .step__container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }
    .step_description{
      display: none;
    }
    .setp_circle{
      width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    }
    .step_title{
      display: none;
    }
    .container_info{
      padding: 20px;
      width: 80%;
      margin: auto;
      margin-top: -90px;
      position: relative;
      border-radius: 15px;
      background-color: white;
      z-index: 1;
    }
  }